<div class="container">
  <!-- (pause) = "onPause($event)" -->
    <section class="row">
      <div class="col-lg-12">
        <app-gamecontrol
        (start)="onStart($event)"
       
        >
        </app-gamecontrol>
        <div class="well" *ngFor="let arr of countArr">
            <app-even *ngIf="arr%2 === 0" [number]="arr"></app-even>
            <app-odd *ngIf=" arr%2 !== 0" [number]="arr"></app-odd>
        </div>
       
      </div>
      
    </section>
  <button class="btn btn-warning"
  (click)="onChangesbtn()"
  >change</button>
  <button class="btn btn-danger"
  (click)="onDestroy()"
  >Destroy first component</button>
 <app-cockpit
 (srCreated)="onServerAdded($event)"
 (bpCreated)="onBlueprintAdded($event)"
 ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
     <app-server-element *ngFor="let serverElement of serverElements"
     [srvElement]="serverElement"
     [name]="serverElement.name"
     >
    <p #contentPara>
      <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
      <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
    </p>

    
    </app-server-element>
    </div>
  </div>
</div>